/*轮播图开始*/
body{
    height: 4500px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/*#content-box-id li:hover{
    animation: runtop 0.3s ease-in forwards;
}
@keyframes runtop {
    100%{
        margin-top: -1px;
    }
}*/
.slide-box{

    position: relative;
}
.slide{
    position: relative;

    height: 460px;

}
.img-box{
    width: 1226px;
    height: 460px;

}
.img-box img{
    width: 1226px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
    opacity: 0;
}
.img-box .selected{
    opacity: 1;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    line-height: 70px;
    text-align: center;
}
.prev-btn{
    left:234px ;
}
.next-btn{
    right: 0px;
}
.prev-btn:hover,.next-btn:hover{
    cursor: pointer;
    background: #757575;
}
.btns li{
    width: 6px;
    height: 6px;
    list-style: none;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.slide-box .btns .selected{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.btns{
    width: 128px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.list{
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0px;
    left:0;
    z-index:1;
    padding: 20px 0;
    width: 234px;

}
.list li{
    list-style: none;
}
.prev1-btn{
    float: right;
    /*margin-right: 10px;*/
}
.list-item>a{
    display: block;

    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.list .list-item:hover{
    background: #ff6700;
    cursor: pointer;
}
.sub-list{
    position: absolute;
    top:0;
    left:234px;
    background: #fff;
    height:100%;
    border-top:1px solid #e0e0e0;
    box-shadow:0px 5px 17px rgba(0,0,0,0.18);
    display: none;
    /*display: none;*/
}
.sub-list-3{
    width: 796px;
}
.sub-list ul{
    float: left;
    width: 265px;
}
.sub-list ul li{
    padding: 18px 15px 18px 20px;
}
.list .sub-list .list-img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.list-title{
    color: #333333;
    font-size: 14px;
}
.list-img-box{

    height: 100%;
    width: 168px;
}
.list-img-box:hover span{
    color: #ff6700;
}
.list .buy-btn{
    border: 1px solid #ff6700;
    color: #ff6700;
    width: 58px;
    height: 22px;
    line-height: 22px;
   float: right;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
.list .buy-btn:hover{
    color: #e0e0e0;
    background: #ff6700;
}
.list-item:hover .sub-list{
    display: block;
}
/*轮播图结束*/


/*频道列表开始*/
.channel-box{
    height: 170px;
    margin-top: 14px;
}
.channel-list{
    width: 234px;
    height: 170px;
    background: #5f5750;
    float: left;
}
.channel-list ul{
    overflow: hidden;
    padding: 3px 3px 0;
}
.channel-list li{
    list-style: none;
    width: 76px;
    height: 82px;
    float: left;
    position: relative;
}
.channel-list i{
    display: block;
    font-size: 29px;
    text-align: center;
    margin-top: 18px;
    color: rgba(255,255,255,0.7);

}
.channel-list span{
    display: block;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,0.7);
}
.channel-list .line-right{
    position: absolute;
    right: 0px;
    top: 9px;
    width: 1px;
    height: 65px;
    background: #665e57;
}
.channel-list .line-bottom{
    position: absolute;
    left: 5px;
    bottom: 0px;
    height: 1px;
    width: 65px;
    background: #665e57;
}
.channel-list li:hover i,.channel-list li:hover span{
    cursor: pointer;
    color: #fffcf9;
}
.promo-list a{
    float: left;
    margin-left: 15px;
}
.promo-list a.list-one{
    margin-left: 14px;
}
.promo-list img{
    display: block;
    width: 316px;
    height: 170px;
}
.promo-list a:hover{
    box-shadow: 2px 8px 3px 5px rgba(0,0,0,0.1);
}

/*频道列表结束*/

/*明星单品开始*/
.star-box{
    margin-top: 20px;
    position: relative;
}

.star-title{
    color: #333333;
    font-size: 22px;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.more-box{
    position: absolute;
    right: 0px;
    top:20px;
}
.more-box i{
    border:1px solid #e0e0e0;
    color:#e0e0e0;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.more-box i.icon-left{
    border-right: none;
}
.more-box i.icon-left:hover{
    color: #ff6700;
}
.more-box i.icon-active{
    color: #b0b0b0;
}
.more-box i.icon-active:hover{
    color: #ff6700;
}
.pro-list {
    width: 1240px;
    height: 301px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.starbox-ul{
    width: 2480px;
    position: absolute;
    left: 0px;
    top: 0;
}
.pro-item{
    width: 234px;
    height: 301px;
    background: #fafafa;
    list-style: none;
    padding-top: 39px;
    float: left;
    margin-right: 14px;
}
.pro-img-box{
    display: block;
    text-align: center;
}
.pro-img{
    width: 160px;
    height: 160px;
}
.pro-title{
    display: block;
    height: 21px;
    line-height: 21px;
    color: #212121;
    font-size: 14px;
    text-align: center;
    margin-top: 22px ;

}
.pro-dest{
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;

}
.pro-price{
    color: #ff6700;
    text-align: center;
    font-size: 14px;
    margin-top: 12px;
}
 .color-orange{
    border-top:1px solid #ff6700;
}
.color-green{
    border-top: 1px solid #83c44e;
}
.color-blue{
    border-top: 1px solid #2196f3;
}
.color-red{
    border-top: 1px solid #e53935;
}
.color-deepgreen{
    border-top: 1px solid #00c0a5;
}

/*明星单品结束*/



/*家电开始*//*智能*/
.homeelec-box{
    position: relative;
    margin-bottom: 22px;
}
.content-box{
    background: #f5f5f5;
    padding-top: 60px;
    padding-bottom: 60px;

}
.tab-btns{
    color: #424242;
    font-size: 16px;
    position: absolute;
    right: 0px;
    top: 16px;
}
.tab-btns li{
    float: left;
    list-style: none;
    font-weight: 200;
    margin-left: 30px;
    cursor: pointer;
}
.active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.box-bd{
    height: 615px;
    margin-bottom: 22px;
}
.box-left{
    width: 234px;
    float: left;
}
.box-left a{
    display: block;
    width: 100%;
    height: 100%;
}
.box-left:hover .box-img{
    box-shadow: 1px 6px 5px 2px rgba(0,0,0,0.1);
    margin-top: -2px;
}
.box-bd .box-left .box-img{
    width: 234px;
    height: 614px;
}
.box-bd .box-left .img-top{
    height: 300px;
}
.box-bd .box-left .img-top:hover{
    box-shadow: 1px 5px 5px 2px rgba(0,0,0,0.1);
    margin-top: -1px;
}
.box-bd .box-left .img-bottom{
    margin-top: 11px;
    height: 300px;
}
.box-bd .box-left .img-bottom:hover{
    box-shadow: 1px 6px 5px 2px rgba(0,0,0,0.1);

}
.box-right{
    width: 992px;
    float: right;

    /*visibility: hidden;*/
    /*background: red;*/
}
.box-right .bd-item{
    float: left;
    margin-left: 14px;
    width: 234px;
    height: 300px;
    position: relative;
    background: #ffffff;


}
.box-right .eight{
    background: transparent;
}
.bd-item-imgcontainer{
    position: absolute;
    right: 20px;
    top: 32px;
    display: block;
    width: 80px;
    height: 80px;
}
.bd-item-height{
    height: 143px;
    position: relative;
    margin-bottom: 14px;
    background: #ffffff;
}
.bd-item .bd-item-height img{
    width: 80px;
    height: 80px;
}
.bd-item-height .titlecon{
    color: #333333;
    display: block;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 46px;
    left: 30px;

}
.bd-item-height .bd-price{
    margin: 0;
    position: absolute;
    left: 30px;
    top: 72px;
}
.bd-item:hover .sub-comment{
    display: block;
    animation: take 0.1s ease-in forwards;
}
@keyframes take {
    100%{
        height: 80px;
    }
}
.bd-item:hover{
    top: -4px;
    box-shadow: 0px 8px 16px  rgba(0,0,0,0.1);
}
 /*.box-right  .bd-item-active:hover{*/
     /*margin-top: -1px;*/
     /*!*box-shadow:1px 1px 1px 1px  rgba(0,0,0,0.1);*!*/
    /**/
  /*}*/
.bd-item-top{
    margin-bottom: 14px;
}
.bd-favour{
    position: absolute;
    top: 0;
    left: 50%;
    background: red;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}
.box-right .bg-green{
    background: #83c44e;
}
.box-right ul{
    float: left;
    display: none;
}
.box-right .box-selected{
    display: block;
}
.bd-img-box{
    display: block;
    text-align: center;
    margin-top: 34px;

}
.bd-img{
    width: 150px;
    height: 150px;
}
.bd-title{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333333;
}
.bd-dest{
    margin-bottom: 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    color: #b0b0b0;
}
.bd-price{
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
    font-size: 14px;
    font-weight: 200;
}
.bd-price .through{
    text-decoration: line-through;
    color: #b0b0b0;
}
.sub-comment{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 234px;
    height: 0px;
    display: none;
    font-size: 12px;
    background: #ff6700;
}
.sub-comment .sub-title{
    width: 174px;
    height: 36px;
    margin: 10px auto;
    color: #ffffff;
    font-size: 12px;


}
.sub-comment .sub-author{
    margin-left: 30px;
    color: rgba(255,255,255,0.6);
}
.intelligent .box-left .box-imgtop{
    width: 234px;
    height: 300px;
    margin-bottom: 10px;
}
.intelligent .box-left .box-imgbottom{
    width: 234px;
    height: 300px;

}
.products{

}
.products .produ-list{
    overflow: hidden;
}
.products .produ-list li{
    float: left;
    height: 415px;
    background: #ffffff;
    position: relative;
}
/*.products .produ-list li:hover{*/
    /*top: -4px;*/
    /*box-shadow: 0px 8px 10px rgba(0,0,0,0.3);*/
/*}*/
.products .produ-list .list2{
    margin-left: 14px;
}
.products img{

    width: 296px;
}
/*家电结束*/


/*为你推荐开始*/
.recommend  .star-title-reco{
    color: #333333;
    font-size: 22px;
    font-weight: 200;
    height: 58px;
    line-height: 58px;
}
.recommend .more-box-reco{
    position: absolute;
    right: 0px;
    top:20px;
}
.recommend .pro-list-reco{
    width: 1240px;
    height: 301px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.pro-list-reco ul{
    width: 2480px;
    position: absolute;
    left: 0px;
    top: 0;
}
.more-box-reco i{
    border:1px solid #e0e0e0;
    color:#e0e0e0;
    width: 36px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    float: left;
    font-size: 18px;
    cursor: pointer;
}
.more-box-reco i.icon-left{
    border-right: none;
}
.more-box-reco i.icon-left:hover{
    color: #ff6700;
}
.more-box-reco i.icon-active{
    color: #b0b0b0;
}
.more-box-reco i.icon-active:hover{
    color: #ff6700;
}

/*为你推荐结束*/
/*热评产品开始*/
.produ-list li{
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    /*margin-left: 14px;*/
    margin-bottom: 14px;
    background: #fff;
}
.produ-list .figure{
    width: 296px;
    height: 220px;
    margin: 0 0 28px;
}
.produ-list .produ-review{
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}
.produ-list .produ-author{
    position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}
.produ-list .produ-info{
    margin: 0 30px;
}
.produ-list .produ-info a{
    display: block;
    width: 70px;
    height: 16px;
    font-size: 14px;
    color: #333;
    float: left;
}
.produ-list .produ-info span{
    width: 4px;
    height: 19px;
    color: #e0e0e0;
    margin-left: 8px;
}
.produ-list .produ-info p{
    display: inline;
    color: #ff6700;
}
/*热评产品结束*/

/*内容开始*/
.container-box{
    height: 420px;
}
.content-box .con-item{
    float: left;
    width: 296px;
    height: 420px;
    background: #ffffff;
    margin-left: 14px;
    position: relative;
    overflow: hidden;
}

.container-box .con-first-item{
    margin-left:0 ;
}
.book{
    border-top: 1px solid #ffac13;
    color: #ffac13;
}
.con-item h2{
    margin: 45px 0 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
}
.con-carousel .con-carousel-list{
    width: 888px;
    position: absolute;
    left: 0;
}
.con-carousel li{
    float: left;
    width: 296px;
}
.con-name{
    display: block;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 5px;
}
.con-desc{
    display: block;
    color: #b0b0b0;
    font-size: 12px;
    text-align: center;
    margin: 0 48px 10px;
}
.con-proce{
    display: block;
    color: #333333;
    height: 21px;
    text-align: center;
    margin: 0 10px 15px;
    font-size: 14px;

}
.con-pic{
    display: block;
     width: 216px;
     height: 154px;
    margin: 0 auto;

 }
.con-pic img{
    width: 216px;
    height: 154px;
}
.con-btn-box{
        position: absolute;
        bottom: 15px;
        left: 50%;
    margin-left: -56px;
}
.con-btn-box li{
    width: 10px;
    height: 10px;
    padding: 10px;
    /*float: left;*/
    margin: 0 2px;
    display: inline-block;

}
.con-btn-box span{
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #b0b0b0;
    border-radius: 50%;
    text-indent: -9999px;
    border: 2px solid #ffffff;
}
.btn-active span{
    background: #ffffff;
    border: 2px solid #ff6700;
}
.btn-depress:hover{
    cursor: pointer;
}
.btn-depress:hover span{
    background: #ff6700;
}
.con-prev-btn,.con-next-btn{
    width: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #e0e0e0;
    color: #ffffff;
    position: absolute;
    top: 50%;
    font-weight: bold;

}
.con-prev-btn{
    left: 0px;
}
.con-next-btn{
    right: 0px;
}
.con-prev-btn:hover{
    cursor: pointer;
    background: #b0b0b0;
}
.con-next-btn:hover{
    cursor: pointer;
    background: #b0b0b0;
}
/*内容结束*/

/*视频开始*/
.video{
    position: relative;
}
.video h2{
    margin-left: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333333;
}
.video .video-alink{
    position: absolute;
    top: 0;
    right: 0;
}
.video .video-alink a{
    text-decoration: none;
    color: #424242;
    font-size: 16px;
    line-height: 58px;
}
.video-list{
    height: 285px;
}
.video-list li{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    text-align: center;
    background: #ffffff;
    margin-left: 14px;
    margin-bottom:14px;
}
.video-list li:hover{
    box-shadow: 0px 18px 30px rgba(0,0,0,0.2);
    animation: runtop 0.3s ease-in forwards;
}
@keyframes runtop {
    100%{
        margin-top: -3px;
    }
}
.video-list .video-list1{
    margin-left:0;
}
.video-list img{
    position: relative;
}
.video .video-item-area{
    width: 296px;
    margin-bottom: 28px;
    position: relative;
}
.video .title{
    margin: 0 0 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.video .title a{
    color: #333;
}
.video .desc{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}
.video .video-list .iconfont{
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #ffffff;
    cursor: pointer;
}
.video .video-list .video-item-area:hover .iconfont{
    color: #ff6700;
}


/*视频结束*/


/*内容开始*/
.site-footer{
    background: #ffffff;
}
.footer-service{
    padding:27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service-list{
    overflow: hidden;
}
.footer-service-list li{
    float: left;
    height: 25px;
    width: 19.8%;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid #e0e0e0;
}
.footer-service-list .no-border{
    border-left: none;
}
.footer-service-list li a{
    text-decoration: none;
    color: #616161;
}
.footer-service-list li i{
    margin-right:6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -3px;
}
.footer-connect{
    padding:40px 0;
    overflow: hidden;
}
.footer-connect .foot-dl{
    float: left;
    width: 160px;
    height: 112px;
    margin:0;
}
.footer-connect .foot-dl dt{
    margin:-1px 0 26px;
    font-size: 14px;
    color: #424242;

}.footer-connect .foot-dl dd{
     margin-top:10px;
     font-size: 12px;
 }
.footer-connect .foot-dl a{
    color: #757575;
}
.footer-connect .foot-dl a:hover{
    color: #ff6700;
}
.footer-connect-right{
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color:#616161
}
.footer-connect-right .phone{
    margin-bottom:5px;
    font-size: 22px;
    color: #ff6700;
}
.footer-connect-right p{
    margin-bottom:16px;
    font-size: 12px;
}
.footer-connect-right a{
    background: #ffffff;
    color: #ff6700;
    border: 1px solid #ff6700;
    font-size: 12px;
    padding:5px;
}
/*内容结束*/
