/*轮播图开始*/
body{
    height: 2000px;
}
a{
    text-decoration: none;
}
.slide-box{
    width: 1375px;
    margin: 0 auto;
    position: relative;
}

.slide{
    position: relative;

    height: 460px;

}
.img-box img{
    width: 1375px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
}

.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    line-height: 70px;
    text-align: center;
}
.prev-btn{
    left:234px ;
}
.next-btn{
    right: 8px;
}
.prev-btn:hover,.next-btn:hover{
    background: #757575;
}
.btns li{
    width: 6px;
    height: 6px;
    list-style: none;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btns{
    width: 128px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.btns li:hover{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.list{
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0px;
    left:0;
    z-index:1;
    padding: 20px 0;
    width: 234px;

}
.list li{
    list-style: none;
}
.prev1-btn{
    float: right;
    /*margin-right: 10px;*/
}
.list-item>a{
    display: block;

    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.list .list-item:hover{
    background: #ff6700;
    cursor: pointer;
}
.sub-list{
    position: absolute;
    top:0;
    left:234px;
    background: #fff;
    height:100%;
    border-top:1px solid #e0e0e0;
    box-shadow:0px 5px 17px rgba(0,0,0,0.18);
    display: none;
    /*display: none;*/
}
.sub-list-3{
    width: 796px;
}
.sub-list ul{
    float: left;
    width: 265px;
}
.sub-list ul li{
    padding: 18px 15px 18px 20px;
}
.sub-list .list-img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.list-title{
    color: #333333;
    font-size: 14px;
}
.list-img-box{

    height: 100%;
    width: 168px;
}
.list-img-box:hover span{
    color: #ff6700;
}
.list .buy-btn{
    border: 1px solid #ff6700;
    color: #ff6700;
    width: 58px;
    height: 22px;
   float: right;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
.list .buy-btn:hover{
    color: #e0e0e0;
    background: #ff6700;
}
.list-item:hover .sub-list{
    display: block;
}
/*轮播图结束*/


/*频道列表开始*/
.channel-box{
    margin-top: 14px;
}
.channel-list{
    width: 234px;
    height: 170px;
    background: #5f5750;
}

.channel-list ul{
    overflow: hidden;
    padding: 3px 3px 0;
}
.channel-list li{
    list-style: none;
    width: 76px;
    height: 82px;
    float: left;
    position: relative;
}
.channel-list i{
    display: block;
    font-size: 29px;
    text-align: center;
    margin-top: 18px;
    color: rgba(255,255,255,0.7);

}
.channel-list span{
    display: block;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,0.7);
}
.channel-list .line-right{
    position: absolute;
    right: 0px;
    top: 9px;
    width: 1px;
    height: 65px;
    background: #665e57;
}
.channel-list .line-bottom{
    position: absolute;
    left: 4px;
    bottom: 0px;
    height: 1px;
    width: 65px;
    background: #665e57;
}
.channel-list li:hover{
    cursor: pointer;
    color:red;
}



/*频道列表结束*/