/*轮播图开始*/
a{
    text-decoration: none;
}
.slide-box{
    width: 1375px;
    margin: 0 auto;
    position: relative;
}

.slide{
    position: relative;

    height: 460px;

}
.img-box img{
    width: 1375px;
    height: 460px;
    position: absolute;
    left:0;
    top:0;
}

.prev-btn,.next-btn{
    width: 40px;
    height: 70px;
    font-size: 50px;
    position: absolute;
    top: 50%;
    line-height: 70px;
    text-align: center;
}
.prev-btn{
    left:234px ;
}
.next-btn{
    right: 8px;
}
.prev-btn:hover,.next-btn:hover{
    background: #757575;
}
.btns li{
    width: 6px;
    height: 6px;
    list-style: none;
    background: #232429;
    border:2px solid #65666b;
    float: left;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.btns{
    width: 128px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.btns li:hover{
    background: #898a8e;
    border: 2px solid #4f4e56;
}
.list{
    background: rgba(0,0,0,0.6);
    position: absolute;
    top:0px;
    left:0;
    z-index:1;
    padding: 20px 0;
    width: 234px;

}
.list li{
    list-style: none;
}
.prev1-btn{
    float: right;
    /*margin-right: 10px;*/
}
.list-item>a{
    display: block;

    height: 42px;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.list .list-item:hover{
    background: #ff6700;
    cursor: pointer;
}
.sub-list{
    position: absolute;
    top:0;
    left:234px;
    background: #fff;
    height:100%;
    border-top:1px solid #e0e0e0;
    box-shadow:0px 5px 17px rgba(0,0,0,0.18);
    /*display: none;*/
}
.sub-list-3{
    width: 796px;
}
.sub-list ul{
    float: left;
    width: 265px;
}
.sub-list ul li{
    padding: 18px 15px 18px 20px;
}
.sub-list .list-img{
    vertical-align: middle;
}
/*轮播图结束*/